# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints
scratch.ipynb


# Distribution / packaging
.Python
build/
dist/
downloads/
var/
wheels/
share/python-wheels/


# VSCode
.vscode/


# PyCharm
.idea/


# Scratch / development / old / and other temporary files
*scratch*
*_dev*
*_old*
temp/
tmp/
*.tmp


# Non-public config files
deltaModel/conf/*
!deltaModel/conf/config.yaml
!deltaModel/conf/config.py
!deltaModel/conf/hydra
!deltaModel/conf/observations
deltaModel/conf/observations/*
!deltaModel/conf/observations/none.yaml


# Usage-specific additions: (Only track base/example files)
deltaModel/trainers/
deltaModel/models/physics_models/
deltaModel/models/neural_networks/
deltaModel/models/loss_functions/
deltaModel/core/data_loaders/
deltaModel/core/data_samplers/

!deltaModel/trainers/base.py
!deltaModel/trainers/trainer.py

!deltaModel/models/physics_models/base.py

!deltaModel/models/neural_networks/lstm_models.py
!deltaModel/models/neural_networks/mlp_models.py
!deltaModel/models/neural_networks/ann_models.py
!deltaModel/models/neural_networks/dropout.py

!deltaModel/models/loss_functions/base.py
!deltaModel/models/loss_functions/nse_loss_batch.py
!deltaModel/models/loss_functions/range_bound_loss.py
!deltaModel/models/loss_functions/rmse_loss_comb.py
!deltaModel/models/loss_functions/rmse_loss.py

!deltaModel/models/loss_functions/nse_loss_batch.py

!deltaModel/core/data_loaders/base.py
!deltaModel/core/data_loaders/hydro_loader.py
!deltaModel/core/data_samplers/base.py
!deltaModel/core/data_samplers/hydro_sampler.py

*results*
*runs*


# Other Directories
archive/
validation/
