# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
scratch.ipynb

# Distribution / packaging
.Python
build/
dist/
downloads/
var/
wheels/
share/python-wheels/

#VSCode
.vscode/

#PyCharm
.idea/

# Scratch, testing, and other temporary files
scratch.py
scratch/
temp/
tmp/
*.tmp

# Other Directories
archive/
runs/
results/
ngen/
