# This configuration file is specifically for the high-resolution, multiscale, differentiable hydrologic model, dHBV2.0UH, from Song et al. (2025). If you find this code is useful to your work, please cite the paper below:
# Yalan Song, Tadd Bindas, Chaopeng Shen, et al. "High-resolution national-scale water modeling is enhanced by multiscale differentiable physics-informed machine learning." Water Resources Research (2025). https://doi.org/10.1029/2024WR038928.

defaults:
  - _self_
  - hydra: settings
  - observations: merit71

name: ${model.nn.name}-${model.phy.name}


## General -------------------------------#
mode: sim  # train, test, train_test, sim

seed: 111111
cache_states: False
device: cuda
gpu_id: 0

data_loader: MsHydroLoader
data_sampler: MsHydroSampler
trainer: MsTrainer

output_dir: ./output
    # NOTE: This is relative to the current working directory.
    #       If you want to save the output to a different directory, please specify the absolute path.
model_dir: ./path/to/your/model/  # Pretrained dHBV 2.0 (+ input data) can be downloaded from: https://mhpi-spatial.s3.us-east-2.amazonaws.com/mhpi-release/models/4-dhbv_2.zip


## Training ------------------------------#
train:
    # NOTE: Multiscale training for dHBV2.0 is not currently enabled in dMG.
    # Training code will be released at a later time.
  start_time: 1980/10/01
  end_time: 1995/09/30
  target: [streamflow]
  optimizer:
    name: Adadelta
  lr: 1.0
  lr_scheduler:
    name: none
  loss_function:
    name: RmseCombLoss

  batch_size: 100
  epochs: 100
  start_epoch: 0
  save_epoch: 5


## Evaluation -------------------------------#
test:
  start_time: 1980/01/01
  end_time: 2020/12/31
  batch_size: 25
  test_epoch: 100


## Inference -------------------------------#
sim:
  start_time: 1980/01/01
  end_time: 2020/12/31
  batch_size: 25


## Differentiable Model -----------------------------#
model:
  rho: 365
  warm_up: 0
  use_log_norm: []

  phy:
    ## Citations ##
    # dHBV 2.0: Yalan Song, Tadd Bindas, Chaopeng Shen, et al.
    # "High-resolution national-scale water modeling is enhanced by
    # multiscale differentiable physics-informed machine learning." Water
    # Resources Research (2025). https://doi.org/10.1029/2024WR038928.

    name: [Hbv_2]
    nmul: 4
    warm_up_states: True
    dy_drop: 0.0
    dynamic_params:
      Hbv_2: [parBETA, parK0, parBETAET]

    routing: True
    nearzero: 1e-5

    forcings: [
      P,
      Temp,
      PET,
    ]
    attributes: []

  nn:
    name: LstmMlpModel

    lstm_dropout: 0.5
    lstm_hidden_size: 64

    mlp_dropout: 0.5
    mlp_hidden_size: 4096

    forcings: [
      P,
      Temp,
      PET,
    ]
    attributes: [
      aridity,
      meanP,
      ETPOT_Hargr,
      NDVI,
      FW,
      meanslope,
      SoilGrids1km_sand,
      SoilGrids1km_clay,
      SoilGrids1km_silt,
      glaciers,
      HWSD_clay,
      HWSD_gravel,
      HWSD_sand,
      HWSD_silt,
      meanelevation,
      meanTa,
      permafrost,
      permeability,
      seasonality_P,
      seasonality_PET,
      snow_fraction,
      snowfall_fraction,
      T_clay,
      T_gravel,
      T_sand,
      T_silt,
      Porosity,
      uparea,
    ]
