# This configuration file is specifically for the streamflow forecasting HydroDL LSTM from Feng et al. (2020). If you find this code is useful to your work, please cite the papers below:
# (1) Dapeng Feng, Kathyrn Lawson, Chaopeng Shen. "Mitigating prediction error of deep learning streamflow models in large data-sparse regions with ensemble modeling and soft data." Geophysical Research Letters (2021). https://doi.org/10.1029/2021GL092999.
# (2) Dapeng Feng, Kuai Fang, Chaopeng Shen. "Enhancing Streamflow Forecast and Extracting Insights Using Long-Short Term Memory Networks With Data Integration at Continental Scales." Water Resources Research (2020). https://doi.org/10.1029/2019WR026793.

# This config replicates the CAMELS 531-basin, 10-year benchmark.
# To setup for CAMELS 671-basin, 15-year benchmark, set the following...
#   1. observations: camels_671
#   2. train: start_time: 1980/10/01
#   3. train: end_time: 1995/09/30
#   4. test/simulation: start_time: 1995/10/01
#   5. test/simulation: end_time: 2010/09/30
defaults:
  - _self_
  - hydra: settings
  - observations: camels_531

name: ${model.nn.name}


## General -------------------------------#
mode: train  # train, test, train_test, sim
multimodel_type: none

seed: 111111
device: cuda
gpu_id: 6
verbose: True

data_loader: HydroLoader
data_sampler: HydroSampler
trainer: Trainer

# NOTE: The output path is relative to the current working directory.
output_dir: ./output/
# To evaluate a pretrained model, set model_dir to the same path as trained_model and normalization file.
# model_dir: ./your/path/to/model/  # Prerained HydroDL LSTM can be downloaded from: https://mhpi-spatial.s3.us-east-2.amazonaws.com/mhpi-release/models/lstm_trained.zip

## Training ------------------------------#
train:
  start_time: 1999/10/01
  end_time: 2008/09/30
  target: [runoff]
  optimizer:
    name: Adadelta
  lr: 1.0
  lr_scheduler:
    name: none
  loss_function:
    name: NseBatchLoss  # RmseCombLoss (low-flow expert), NseBatchLoss (low-flow expert)

  batch_size: 100
  epochs: 300
  start_epoch: 0
  save_epoch: 50


## Evaluation -------------------------------#
test:
  start_time: 1989/10/01
  end_time: 1999/09/30
  batch_size: 15
  test_epoch: 300


## Inference -------------------------------#
sim:
  start_time: 1989/10/01
  end_time: 1999/09/30
  batch_size: 15


## Differentiable Model -----------------------------#
model:
  rho: 365
  warm_up: 365
  flow_regime: 'high'  # low-flow (log norm on runoff and prcp), high-flow (gaussian norm)

  nn:
    name: CudnnLstmModel
    dropout: 0.5
    hidden_size: 256
    out_size: 1

    forcings: [
      dayl,
      prcp,
      srad,
      tmean,
      vp,
    ]
    attributes: [
      p_mean,
      pet_mean,
      p_seasonality,
      frac_snow,
      aridity,
      high_prec_freq,
      high_prec_dur,
      low_prec_freq,
      low_prec_dur,
      elev_mean,
      slope_mean,
      area_gages2,
      frac_forest,
      lai_max,
      lai_diff,
      gvf_max,
      gvf_diff,
      dom_land_cover_frac,
      dom_land_cover,
      root_depth_50,
      soil_depth_pelletier,
      soil_depth_statsgo,
      soil_porosity,
      soil_conductivity,
      max_water_content,
      sand_frac,
      silt_frac,
      clay_frac,
      geol_1st_class,
      glim_1st_class_frac,
      geol_2nd_class,
      glim_2nd_class_frac,
      carbonate_rocks_frac,
      geol_porosity,
      geol_permeability,
    ]
