# This configuration file is specifically for the differentiable hydrologic model dHBV 1.1p from Song et al. (2025). If you find this code is useful to your work, please cite the paper below:
# Yalan Song, Kamlesh Sawadekar, Jonathan Frame, et al. "Physics-informed, Differentiable Hydrologic  Models for Capturing Unseen Extreme Events." ESS Open Archive (2025). https://doi.org/10.22541/essoar.172304428.82707157/v2.

# This config replicates the CAMELS 531-basin, 10-year benchmark.
# To setup for CAMELS 671-basin, 15-year benchmark, set the following...
#   1. observations: camels_671
#   2. train: start_time: 1980/10/01
#   3. train: end_time: 1995/09/30
#   4. test/simulation: start_time: 1995/10/01
#   5. test/simulation: end_time: 2010/09/30

defaults:
  - _self_
  - hydra: settings
  - observations: camels_531  # camels_531, camels_671

name: ${model.nn.name}-${model.phy.name}


## General -------------------------------#
mode: train  # train, test, train_test, sim

seed: 111111
cache_states: False
device: cuda
gpu_id: 0

data_loader: HydroLoader
data_sampler: HydroSampler
trainer: Trainer

output_dir: ./output
    # NOTE: This is relative to the current working directory.
    #       If you want to save the output to a different directory, please specify the absolute path.
model_dir: ./path/to/your/model/  # Pretrained dHBV 1.1p can be downloaded from: https://mhpi-spatial.s3.us-east-2.amazonaws.com/mhpi-release/models/3-dhbv_1_1p.zip


## Training ------------------------------#
train:
  start_time: 1999/10/01
  end_time: 2008/09/30
  target: [streamflow]
  optimizer:
    name: Adadelta
  lr: 1.0
  lr_scheduler:
    name: none
    step_size: 10
    gamma: 0.5
  loss_function:
    name: NseBatchLoss

  batch_size: 100
  epochs: 100
  start_epoch: 0
  save_epoch: 5


## Evaluation -------------------------------#
test:
  start_time: 1989/10/01
  end_time: 1999/09/30
  batch_size: 25
  test_epoch: 50


## Inference -------------------------------#
sim:
  start_time: 1989/10/01
  end_time: 1999/09/30
  batch_size: 25


## Differentiable Model -----------------------------#
model:
  rho: 365
  warm_up: 365
  use_log_norm: []

  phy:
    ## Citation ##
    # dHBV 1.1p: Yalan Song, Kamlesh Sawadekar, Jonathan Frame, et al.
    # "Physics-informed, Differentiable Hydrologic  Models for Capturing
    # Unseen Extreme Events." ESS Open Archive (2025).
    # https://doi.org/10.22541/essoar.172304428.82707157/v2.

    name: [Hbv_1_1p]
    nmul: 16
    warm_up_states: False
    dy_drop: 0.0
    dynamic_params:
      Hbv_1_1p: [parBETA, parK0, parBETAET]

    routing: True
    nearzero: 1e-5

    forcings: [
      prcp,
      tmean,
      pet,
    ]
    attributes: []

  nn:
    name: CudnnLstmModel # LstmModel
    dropout: 0.5
    hidden_size: 256

    forcings: [
      prcp,
      tmean,
      pet,
    ]
    attributes: [
      p_mean,
      pet_mean,
      p_seasonality,
      frac_snow,
      aridity,
      high_prec_freq,
      high_prec_dur,
      low_prec_freq,
      low_prec_dur,
      elev_mean,
      slope_mean,
      area_gages2,
      frac_forest,
      lai_max,
      lai_diff,
      gvf_max,
      gvf_diff,
      dom_land_cover_frac,
      dom_land_cover,
      root_depth_50,
      soil_depth_pelletier,
      soil_depth_statsgo,
      soil_porosity,
      soil_conductivity,
      max_water_content,
      sand_frac,
      silt_frac,
      clay_frac,
      geol_1st_class,
      glim_1st_class_frac,
      geol_2nd_class,
      glim_2nd_class_frac,
      carbonate_rocks_frac,
      geol_porosity,
      geol_permeability,
    ]
