name: Pytests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10', '3.12', '3.13']

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install uv + Python
        uses: astral-sh/setup-uv@v7.1.5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: False

      - name: Install dependencies
        run: |
          uv sync --extra dev --extra hydrodl2

      - name: Run tests
        run: uv run pytest
